/* src/styles/index.css */
@import './variables.css';

body {
  background-color: var(--background-color);  /* Use a custom background color */
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* To give content a centered look and feel */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}