.project-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  /* 4 equal columns */
  grid-column-gap: 70px;  /* Adds horizontal space between project cards */
  grid-row-gap: 20px;  /* Adds vertical space between rows */
  margin: 20px 0;
  width: 100%;
  max-width: 1200px;  /* Constrain the grid width */
  margin: 0 auto;  /* Center the grid on the page */
}

.project {
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 100%;  /* Ensure project card takes full width of the grid cell */
  max-width: 100%;  /* Avoid expanding beyond grid cell */
}

.project img {
  max-width: 100%;  /* Ensure images fit within the project card */
  height: auto;
  margin-bottom: 10px;
}



.project h3 {
  margin-bottom: 10px;
  color: var(--primary-color);
}

.project a {
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.project a:hover {
  color: var(--accent-color);
}

.project:hover {
  transform: scale(1.05);
}